*{
  margin:0;
  padding:0;
  box-sizing: border-box
}
body{
  padding:5px;
}
.btncls{
  /* width:100px; */
  /* height:50px; */
  background:#ff6b81;
  display: inline-block;
  margin:20px 0 ;
  padding:5px;
  text-decoration: none;
  color:white;
  border:none;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4)
}
.ReplyBox{
  margin-right:10px;
}
.CommentFoo{
  list-style: none;
  padding:20px;
  background: #fff2ff;
  margin:10px 0px;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.textArea{
  resize: none;
  width:40%;
  height:90px;
}